extends layout 

block content 
  div#topcontent
    h1 Become an admin
  if user
    if !user.membership_status.admin
      form#joinform(action="" method="POST") 
        div.formarea 
          label(for="passcode") Passcode:
          input.textinput(type="number" name="passcode" placeholder="Passcode..." required="true")
        div.formarea
          input.button(type="submit" value="Submit")
    else 
      p You're already an admin!
  else
    p You need to #[a(href="/membersonly/signup") create an account] or #[a(href="/membersonly/login") log in] to join.
    
  if errors 
    ul
      each error in errors 
        li #{error.msg}
  a.button(href="/") Cancel