doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    footer#footer
      p This website uses cookies to store your messages and to let you log in/create an account