extends layout 

block content 
  div#topcontent
    h1.title Log in
  form#loginform(action="" method="POST")
    div.formarea
      label(for="username") Username: 
      input.textinput(name="username" placeholder="Username..." type="text")
    div.formarea
      label(for="password") Password: 
      input.textinput(name="password" type="password" placeholder="Password...")
    div.formarea
      button.button Log in

  if errors 
    ul
      each error in errors 
        li #{error.msg}
  a.button(href="/") Cancel