extends layout 

block content 
  div#topcontent
    h1.title= title
  if user && user.membership_status.member
    form#messageform(action="" method="POST")
      div.formarea
        label(for="title") Title:
        input.textinput(type="text" name="title" placeholder="Title..." required="true")
      div.formarea
        label(for="text") Message: 
        textarea.textarea(name="text" placeholder="Message..." required="true")
      div.formarea
        input.button(type="submit" value="Submit")
  else 
    p You need to #[a(href="/membersonly/signup") create an account], #[a(href="/membersonly/login") log in] or #[a(href="/membersonly/join") join] to post a message.
  
  if errors 
    ul
      each error in errors 
        li #{error.msg}
  a.button(href="/") Cancel