extends layout 

block content 
  h1 Sign up
  form#signupform(action="" method="POST") 
    label(for="first_name") Name: 
    input(type="text" name="first_name" placeholder="Name..." required="true")
    label(for="last_name") Last name: 
    input(type="text" name="last_name" placeholder="Last name..." required="true")
    label(for="user_name") Username: 
    input(type="text" name="user_name" placeholder="Username..." required="true")
    label(for="password") Password: 
    input(type="password" name="password" placeholder="Password..." required="true")
    label(for="confirm_password") Confirm password: 
    input(type="password" name="confirm_password" placeholder="Confirm password..." required="true")
    input(type="submit" value="Sign up")
