extends layout 

block content 
  div#topcontent
    h1.title Sign up
  form#signupform(action="" method="POST") 
    div.formarea
      label(for="first_name") Name: 
      input.textinput(type="text" name="first_name" placeholder="Name..." required="true" value=(undefined === formfirstname ? '' : formfirstname))
    div.formarea
      label(for="last_name") Last name: 
      input.textinput(type="text" name="last_name" placeholder="Last name..." required="true" value=(undefined === formlastname ? '' : formlastname))
    div.formarea
      label(for="user_name") Username: 
      input.textinput(type="text" name="user_name" placeholder="Username..." required="true" value=(undefined === formusername ? '' : formusername))
    div.formarea
      label(for="password") Password: 
      input.textinput(type="password" name="password" placeholder="Password..." required="true")
    div.formarea
      label(for="confirm_password") Confirm password: 
      input.textinput(type="password" name="confirm_password" placeholder="Confirm password..." required="true")
    div.formarea
      input.button(type="submit" value="Sign up")
    if errors 
      ul
        each error in errors 
          li #{error.msg}

  
  a.button(href="/") Cancel
